body{
    font-family: 'Poppins', sans-serif;
}
.sec1{
   background-image: url(images/donation7.jpg);
   background-repeat: no-repeat;
   height: 600px;
    
}
.lets{
    font-weight: 900;
    color: rgb(123, 232, 7);
    text-align: center;
    padding-top:110px ;
    font-size: 300%;
}
.lorem{
    color:rgb(123, 232, 7);
    text-align: center;
    font-weight: 100;
}
.donate{
    
    color: rgb(123, 232, 7);
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(232, 14, 14);
}
.donate1{
    text-align: center;
}
.donatetoday{
    font-weight: 900;
    color: rgb(11, 11, 10);
    text-align: center;
}
.donatetoday1{
    font-size: 200%;
}
.ipsum{
    font-weight: 100;
    color: rgb(110, 110, 110);
}
.taka{
    display: flex;
    padding-left: 300px;
    
    
    
}
.onehundred{
    border: 1px solid rgb(186, 185, 185);
    padding:15px 15px ;
    text-align: center;
    border-radius: 3px;
    margin: 15px;
    }
    .twohundred{
        border: 1px solid rgb(40, 240, 22);
        padding:15px 15px ;
        color: rgb(96, 181, 5);
        background-color: rgb(202, 246, 155);
        border-radius: 3px;
        margin: 15px;
    }
    .fivehundred{
        border: 1px solid rgb(186, 185, 185);
        padding:15px 15px ;
        border-radius: 3px;
        margin: 15px;
    }
    .onethousands{
        border: 1px solid rgb(186, 185, 185);
        padding:15px 15px ;
        border-radius: 3px;
        margin: 15px;
    }
    .fivethousands{
        border: 1px solid rgb(186, 185, 185);
        padding:15px 15px ;
        border-radius: 3px;
        margin: 15px;
    }